<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:sport.properties" />

	<bean id="myFortune" class="com.basics.ioc.beans.HappyFortuneService">
	</bean>

	<bean id="myTrackCoach" class="com.basics.ioc.beans.TrackCoach" init-method="initMethod" destroy-method="destroyMethod">
		<property name="fortuneService" ref="myFortune"></property>
		<property name="emailAddress" value="${foo.email}"></property>
		<property name="teamName" value="${foo.team}"></property>
	</bean>

	<bean id="myBaseballCoach" class="com.basics.ioc.beans.BaseballCoach" scope="singleton">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>
	
	<bean id="mySoccerCoach" class="com.basics.ioc.beans.SoccerCoach" scope="prototype">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>

</beans>





